[submodule "www/httpdocs/extensions/jit_image_manipulation"]
	path = www/httpdocs/extensions/jit_image_manipulation
	url = http://github.com/symphonycms/jit_image_manipulation.git
[submodule "www/httpdocs/extensions/debugdevkit"]
	path = www/httpdocs/extensions/debugdevkit
	url = http://github.com/symphonycms/debugdevkit.git
[submodule "www/httpdocs/extensions/export_ensemble"]
	path = www/httpdocs/extensions/export_ensemble
	url = http://github.com/symphonycms/export_ensemble.git
[submodule "www/httpdocs/extensions/maintenance_mode"]
	path = www/httpdocs/extensions/maintenance_mode
	url = http://github.com/symphonycms/maintenance_mode.git
[submodule "www/httpdocs/extensions/markdown"]
	path = www/httpdocs/extensions/markdown
	url = http://github.com/symphonycms/markdown.git
[submodule "www/httpdocs/extensions/profiledevkit"]
	path = www/httpdocs/extensions/profiledevkit
	url = http://github.com/symphonycms/profiledevkit.git
[submodule "www/httpdocs/extensions/selectbox_link_field"]
	path = www/httpdocs/extensions/selectbox_link_field
	url = http://github.com/symphonycms/selectbox_link_field.git
[submodule "www/httpdocs/extensions/xssfilter"]
	path = www/httpdocs/extensions/xssfilter
	url = http://github.com/symphonycms/xssfilter.git
[submodule "www/httpdocs/extensions/members"]
	path = www/httpdocs/extensions/members
	url = http://github.com/symphonycms/members.git
[submodule "www/httpdocs/workspace/bootstrap"]
	path = www/httpdocs/workspace/bootstrap
	url = http://github.com/twitter/bootstrap.git
[submodule "www/httpdocs/extensions/image_index_preview"]
	path = www/httpdocs/extensions/image_index_preview
	url = http://github.com/symphonists/image_index_preview.git
[submodule "www/httpdocs/extensionsuniqueuploadfield"]
	path = www/httpdocs/extensionsuniqueuploadfield
	url = http://github.com/michael-e/uniqueuploadfield.git
[submodule "www/httpdocs/extensionshtml5_doctype"]
	path = www/httpdocs/extensionshtml5_doctype
	url = http://github.com/domain7/html5_doctype.git
[submodule "www/httpdocs/extensionstweak_ui"]
	path = www/httpdocs/extensionstweak_ui
	url = http://github.com/kanduvisla/tweak_ui.git
[submodule "www/httpdocs/extensionsorder_entries"]
	path = www/httpdocs/extensionsorder_entries
	url = http://github.com/nickdunn/order_entries.git
[submodule "www/httpdocs/extensionsjquery_date_picker"]
	path = www/httpdocs/extensionsjquery_date_picker
	url = http://github.com/makenosound/jquery_date_picker.git
[submodule "www/httpdocs/extensionsmassuploadutility"]
	path = www/httpdocs/extensionsmassuploadutility
	url = http://github.com/scottkf/massuploadutility.git
[submodule "www/httpdocs/extensionsroot_page_params"]
	path = www/httpdocs/extensionsroot_page_params
	url = http://github.com/creativedutchmen/Root-Page-Params.git
[submodule "www/httpdocs/extensionsemail_template_manager"]
	path = www/httpdocs/extensionsemail_template_manager
	url = http://github.com/creativedutchmen/email_template_manager.git
[submodule "www/httpdocs/extensionslanguage_redirect"]
	path = www/httpdocs/extensionslanguage_redirect
	url = http://github.com/klaftertief/language_redirect.git
[submodule "www/httpdocs/extensionsmultilingual_field"]
	path = www/httpdocs/extensionsmultilingual_field
	url = http://github.com/6ui11em/multilingual_field.git
[submodule "www/httpdocs/extensionsuniqueinputfield"]
	path = www/httpdocs/extensionsuniqueinputfield
	url = http://github.com/symphonycms/uniqueinputfield.git
[submodule "www/httpdocs/extensionsimportcsv"]
	path = www/httpdocs/extensionsimportcsv
	url = http://github.com/kanduvisla/importcsv.git
[submodule "www/httpdocs/extensions/uniqueuploadfield"]
	path = www/httpdocs/extensions/uniqueuploadfield
	url = http://github.com/michael-e/uniqueuploadfield.git
[submodule "www/httpdocs/extensions/html5_doctype"]
	path = www/httpdocs/extensions/html5_doctype
	url = http://github.com/domain7/html5_doctype.git
[submodule "www/httpdocs/extensions/subsectionmanager"]
	path = www/httpdocs/extensions/subsectionmanager
	url = http://github.com/hananils/subsectionmanager.git
[submodule "www/httpdocs/extensions/tweak_ui"]
	path = www/httpdocs/extensions/tweak_ui
	url = http://github.com/kanduvisla/tweak_ui.git
[submodule "www/httpdocs/extensions/order_entries"]
	path = www/httpdocs/extensions/order_entries
	url = http://github.com/nickdunn/order_entries.git
[submodule "www/httpdocs/extensions/jquery_date_picker"]
	path = www/httpdocs/extensions/jquery_date_picker
	url = http://github.com/makenosound/jquery_date_picker.git
[submodule "www/httpdocs/extensions/massuploadutility"]
	path = www/httpdocs/extensions/massuploadutility
	url = http://github.com/scottkf/massuploadutility.git
[submodule "www/httpdocs/extensions/root_page_params"]
	path = www/httpdocs/extensions/root_page_params
	url = http://github.com/creativedutchmen/Root-Page-Params.git
[submodule "www/httpdocs/extensions/uniqueinputfield"]
	path = www/httpdocs/extensions/uniqueinputfield
	url = http://github.com/symphonycms/uniqueinputfield.git
[submodule "www/httpdocs/extensions/language_redirect"]
	path = www/httpdocs/extensions/language_redirect
	url = http://github.com/klaftertief/language_redirect.git
[submodule "www/httpdocs/extensions/multilingual_field"]
	path = www/httpdocs/extensions/multilingual_field
	url = http://github.com/6ui11em/multilingual_field.git
[submodule "www/httpdocs/workspace/utilities/members-forms"]
	path = www/httpdocs/workspace/utilities/members-forms
	url = http://github.com/michael-e/members-forms.git
[submodule "www/httpdocs/extensions/datetime"]
	path = www/httpdocs/extensions/datetime
	url = http://github.com/hananils/datetime.git
[submodule "www/httpdocs/extensions/configuration"]
	path = www/httpdocs/extensions/configuration
	url = http://github.com/bauhouse/configuration.git
[submodule "www/httpdocs/extensions/health_check"]
	path = www/httpdocs/extensions/health_check
	url = http://github.com/pixelninja/health_check.git
[submodule "www/httpdocs/extensions/systemidfield"]
	path = www/httpdocs/extensions/systemidfield
	url = http://github.com/rowan-lewis/systemidfield.git
[submodule "www/httpdocs/extensions/db_sync"]
	path = www/httpdocs/extensions/db_sync
	url = http://github.com/nickdunn/db_sync.git
[submodule "www/httpdocs/extensions/importcsv"]
	path = www/httpdocs/extensions/importcsv
	url = http://github.com/kanduvisla/importcsv.git
[submodule "www/httpdocs/extensions/filterfield"]
	path = www/httpdocs/extensions/filterfield
	url = http://github.com/kirkstrobeck/filterfield.git
[submodule "www/httpdocs/extensions/xmlimporter"]
	path = www/httpdocs/extensions/xmlimporter
	url = http://github.com/symphonists/xmlimporter
[submodule "www/httpdocs/extensions/repeating_date_field"]
	path = www/httpdocs/extensions/repeating_date_field
	url = http://github.com/rowan-lewis/repeating_date_field
[submodule "www/httpdocs/extensions/save_and_return"]
	path = www/httpdocs/extensions/save_and_return
	url = http://github.com/Solutions-Nitriques/save_and_return.git
[submodule "www/httpdocs/extensions/duplicate_entry"]
	path = www/httpdocs/extensions/duplicate_entry
	url = https://github.com/nickdunn/duplicate_entry.git
[submodule "www/httpdocs/extensions/scaffolds"]
	path = www/httpdocs/extensions/scaffolds
	url = http://github.com/brendo/scaffolds.git
[submodule "www/httpdocs/extensions/publishfiltering"]
	path = www/httpdocs/extensions/publishfiltering
	url = http://github.com/kirkstrobeck/publishfiltering.git
