// these are being added to head, but should be added here to compile final optimized if we wanna get crazy agile
// @import 'import.less'; // For importing CSS documents
// @import '../../../bootstrap/less/bootstrap.less';
// @import '../../../bootstrap/less/responsive.less';

@import '../../../bootstrap/less/mixins.less';
@import 'pictos.less';




address, blockquote, cite, h1, h2, h3, h4, h5, h6, li, p, pre, span, .description {
	//visibility: hidden;
}

.wf-active {
	address, blockquote, cite, h1, h2, h3, h4, h5, h6, li, p, pre, span, .description {
		//visibility: visible;
	}
}

// variables
  
@base: 10px;
@body-text-height: 16px;
@color-accent: #d83629; // Logo/Accent/Link Color (Red/Orange)
@color-body-text: #303030;
@color-gray-accent: #eeeeee;
@color-mast: #9fc9d4; // Mast Color (Aqua)
@color-white: #fff;
@color-red: #d83629;
@font-sans: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
@font-serif: "ff-tisa-web-pro", serif;
@icons: "Pictos", sans-serif;
 
// styles 

.small-grey-text {
	font-family: @font-sans;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 10px 0;
	color: #999;
}

.small-serif-header {
	font-family: @font-serif;
	margin: @base * 4 0;
	color: @color-body-text;
	font-size: 16px;
	text-align: center;
	border: none;
}

.body-text-sans {
	font-family: @font-sans;
	color: #303030;
	line-height: 22px;
	font-size: 14px;
}

.body-text-serif {
	font-family: @font-serif;
	font-size: @body-text-height;
	line-height: 1.7;
	font-weight: normal;
	color: #303030;
	margin-bottom: 20px;
}


// bootstrap overrides

[class^="icon-"] {//../../../php/request.php?a=../themes/active/img/logo.png
	background-image: url(../../../bootstrap/img/glyphicons-halflings.png);
}

.icon-white {
	background-image: url(../../../bootstrap/img/glyphicons-halflings-white.png);
}

.column-full-width,
.column-center,
.column-right {
	.description, 
	p, 
	blockquote,
	ul, 
	li {
		.body-text-serif;
	}
}

.nav-tabs.nav-stacked > li > a { border: none; }
.nav-pills > li > a { .border-radius(0); }
.mast .nav-pills .active * { background: none !important; }
.mast .nav-pills > li > a { padding: @base * .5 0; margin: 0 0 0 @base * 2.5; }
.mast .nav-pills { margin-right: 5px; }
.navbar .divider-vertical {
	background: darken(desaturate(@color-mast, 10%), 15%);
	border-right: 1px solid darken(desaturate(@color-mast, 10%), 20%);
	height: 30px;
	margin: 5px;
}


// tags

a {
	color: @color-accent;
	text-decoration: none;
	-webkit-transition: color 200ms ease-in-out, background 200ms ease-in-out;

	&:hover { 
		color: darken(@color-accent, 15%); 
		text-decoration: none; 
	}	
}

blockquote {

	h3 {
		text-transform: none;
		font-weight: normal;
	}
}

body {
	background-image: none;
	background: #fdfdfd;
	font-family: @font-sans;
	color: #303030;
}

form,
input {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold;
	font-size: 64px;
	line-height: 1.2;
	text-align: center;
	width: 80%;
	margin: @base * 3 auto;
}

h2 {
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: @base * 4 0 @base * 2 0;
}

h3 {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.main-container ul li {
	margin: 0;
}



// classes

[data-icon]:before {
	content: attr(data-icon);
	font-family: @icons;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	position: relative;
	font-size: 20px;
	margin-right: 7px;
	top: 1px;
}

.logo {

	a {
		display: block;
		background: url(../../../php/request.php?a=../themes/active/img/logo.png) 0 0 no-repeat;
		height: 120px;
		width: 120px;
	}
}

.mast {
	background: @color-mast;
	padding: 40px 0;
	margin-top: 40px;

	.row {
		margin: 0 auto;
	}
}

.modalLive {
	width: 630px !important;
}

.alert {
	border: 1px solid lighten(#468847, 25%);
	letter-spacing: 1px;
	.box-shadow(0 1px 2px rgba(0,0,0,0.1));

	strong {
		display: inline-block;
		text-transform: uppercase;
		padding-top: 7px;
		margin-right: 10px;
	}

	.btn {
		margin-bottom: 2px;
	}

	&.alertLive {
		margin-top: -20px;
	}
}

.navbar {

	&.navbar-fixed-top {
		position: absolute;
	}

	.navbar-inner {
		background: darken(desaturate(@color-mast, 10%), 10%);
		filter: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		.box-shadow(none);

		ul.nav {

			li {

				a {
					color: #fff;
					text-shadow: none;

					&:hover {
						color: darken(@color-mast, 35%);
					}
				}
			}
		}
	}

	.btn-navbar {
		background: darken(desaturate(@color-mast, 10%), 20%);
		background-image: none;
		filter: none;
		.border-radius(0%);
		border: none;

		&:hover {
			background: darken(desaturate(@color-mast, 10%), 40%);
		}
	}
}

.edit-tag {
	.edit-defaults;
	top: @base;
	right: @base;
}

.subnav {
	background: #fdfdfd;
	border: none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;

	&.subnav-fixed {
		top: 0;
	}

	ul {
		text-align: center;
		border-bottom: 1px solid #ddd;
	}

	li {
		padding: 10px 0;
		float: none;
		display: inline-block;
	
		&.active a {
			color: @color-accent;
			background-image: none;
			.box-shadow(none);
			background: none;

			&:hover {
				background: none;
				color: darken(@color-accent, 10%);
			}
		}

		a {
			color: #303030;
			font-size: 12px;
			line-height: 18px;
			font-weight: normal;

			&:hover {
				background: none;
				color: darken(desaturate(@color-mast, 10%), 20%);
			}
		}
	}
}

.masthead {
	margin-bottom: 20px;
}


.logo {
	float: left;
}

.header {
	.nav {
		float: right;
		text-transform: uppercase;
		font-size: 18px;
		margin-top: 45px;
		padding-right: 17px;
		font-weight: 300;
		letter-spacing: 1px;

		li {
			margin-right: 10px;
			
			&.active { 
				a {
					background: none;
					color: @color-accent;

					&:hover { 
						color: darken(@color-accent, 10%); 
					}
				}
			}

			a {
				color: #ffffff;

				&:hover {
					background: none;
					color: darken(@color-mast, 35%);
				}
			}
		}
	}
}

.jumbotron {

	h1 {
		display: none;
	}
}

.column-center {
	
}

.column-right {

	.more {
		display: block;
		background: darken(@color-gray-accent, 33.5%);
		font-family: @font-sans;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #fff !important;
		height: @base * 5;
		line-height: @base * 5;
		padding: 0 0 0 @base * 1.5;

		&:hover {
			background: darken(@color-gray-accent, 40%);
		}
	}
}

.to-top {
	font-family: @font-sans;
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 50px;

	a {
		color: #999;
		background: #f3f3f0;
		display: block;
		padding: 4px 6px;
		margin-bottom: 60px;

		&:hover {
			background: #f5f5f5;
			color: #777;
			text-decoration: none;
		}
	}
}

.footer {
	background: #D6D6D6;
	position: absolute;
	margin: 60px 0 80px 0;
	left: 0;
	width: 100%;

	a {
		color: #333;
	
		&.btn.btn-primary.give {
			background-image: none;
			background: none;
			color: #CF1E18;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border: none;
			text-transform: uppercase;
			text-shadow: none;
			margin-left: -10px;
		}
	}

	address,
	p {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		margin: 15px 0;
	}

	h4 {
		font-size: 11px;
		line-height: 18px;
		text-transform: uppercase;
	}

	.footer-nav {
		margin-top: @base * 2.5;
		margin-bottom: @base;

		* {
			font-size: 13px;
			background: none !important;
		}

		.nav-header {
			margin: 0;
			padding: 0;
		}

		.nav-list > li {
			margin: @base * .5 0;

		}

		.nav-list > .active > a {
				color: @color-red;
				text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			}

		.nav-list > li > a {
			padding: 0;

			&:hover {
				background: none;
			}
		}
	}

	.twitter {
		background: @color-red;
		color: @color-white;
		line-height: 55px;

		a {
			color: inherit;

			&:hover {
				color: darken(@color-accent, 30%);
			}
		}

		span {
			.body-text-serif;
			color: @color-white;
			margin-left: @base * 2;
			font-size: 16px;

			a {
				text-decoration: underline;
			}
		}


		strong {
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
		}
	}

	.active {
		
		a {
			background: none;
			color: @color-accent;
			text-shadow: none;
		}
	}

	.baseline {
		background: #FDFDFD;
		position: relative;
		left: 0;
		bottom: -20px;
		padding: @base * 2 @base * 2.5;
		color: #aaa;
		font-size: 14px;

		a { 
			color: #aaa;
		
			&:hover {
				color: @color-accent;
				text-decoration: none;
			}

			&.facebook {
				.body-text-sans;
				color: #aaa;
				letter-spacing: 1px;
				font-weight: bold;
				text-transform: uppercase;

				&:hover { color: @color-accent; }
			}
		}
	}
}


// column defaults ---------------------------------------------------------

.column-full-width {

	.columns-2 {
		-webkit-column-count: 2; -webkit-column-gap:20px;
		-moz-column-count: 2; -moz-column-gap:20px;
		-o-column-count: 2; -o-column-gap:20px;
		column-count: 2; column-gap:20px;
	}

	.columns-3 {
		-webkit-column-count: 3; -webkit-column-gap:20px;
		-moz-column-count: 3; -moz-column-gap:20px;
		-o-column-count: 3; -o-column-gap:20px;
		column-count: 3; column-gap:20px;
	}

	.columns-4 {
		-webkit-column-count: 4; -webkit-column-gap:20px;
		-moz-column-count: 4; -moz-column-gap:20px;
		-o-column-count: 4; -o-column-gap:20px;
		column-count: 4; column-gap:20px;
	}

	.intro {
		display: block;
		font-size: 26px;
		margin: 20px 0;
		font-weight: 300;
	}

	.nav-box {
		margin-top: @base * 3;

		.box {
			font-family: 'Times New Roman', Times, serif;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 24px;
			line-height: 1.2;
			font-style: italic;
			margin-bottom: 30px;
			text-align: center;
			-webkit-font-smoothing: antialiased;

			a {
				background: lighten(desaturate(@color-mast, 10%), 20%);
				display: block;
				padding: @base * 8 0;
				color: darken(desaturate(@color-mast, 10%), 20%);

				&:hover {
					background: lighten(desaturate(@color-mast, 10%), 15%);
				}
				

				span {
					padding: @base * 2 0;
					border-top: 2px solid darken(desaturate(@color-mast, 10%), 20%);
					border-bottom: 2px solid darken(desaturate(@color-mast, 10%), 20%);
				}
			}
		}
	}
}

.grey-bkd {
	background: #e9ebea;
	padding: @base * 1.5 @base * 2 @base * 0.5 @base * 2;
	margin-bottom: @base * 2;

	&.top {
		position: relative;
		top: -10px;
		ul {
			list-style: none;
			margin-left: 0;
			padding: @base * 0.5;

			li {
				margin: 0 0 @base 0;

				&.last { margin-bottom: 0; }
			}
		}
	}
}

//---------------------------------------------------------
// components----------------------------------------------
//---------------------------------------------------------


// defaults ---------------------------------------------------------

.component {

	h3 {
		margin-bottom: @base;
	}
}

.entry-defaults {
	background: #fff;
	margin: @base 0 @base * 3 0;
	position: relative;
}

.edit-defaults {
	position: absolute;
	border: none !important;
	background: none;
	z-index: 10000;
	padding: 0;
	margin: 0;
}


// downloads ---------------------------------------------------------

.column-right {

	.component-downloads {

		.entry {
			background: @color-gray-accent;
			padding: 0 20px;
			border: none;
			margin: 0;

			a {
				border: none;
				background: @color-gray-accent;
				padding: 30px 0;
				border-bottom: 1px solid darken(@color-gray-accent, 20%);
				color: @color-body-text;
				font-size: 14px;

				&:hover { 
					color: @color-accent; 
				}

				.date {
					width: 48px;
					margin: 0 15px 0 -10px;
					text-align: center;
					font-family: @font-sans;

					.month {
						display: block;
						width: 48px;
						background: @color-accent;
						color: #fff;
						font-weight: bold;
						font-size: 12px;
						letter-spacing: 1px;
						text-transform: uppercase;
					}

					.day {
						width: 48px;
						background: #fff;
						font-weight: bold;
						font-size: 26px;
						color: @color-body-text;
						padding: 7px 0;
					}
				}
			}

			&.even { 
				background: @color-gray-accent; 
			}

			&.last {

				a {
					border-bottom: none;
				}
			}
		}
	}
}


// events ---------------------------------------------------------

.column-full-width,
.column-center {

	.component-events {
	
		.entry {
			margin: @base * 3 0;
			background: #fff;
			border: @base solid #ddd;
			padding: 0;
			position: relative;

			&.even { 
				background: #fff; 
			}

			a {
				.border-radius(0 0 0 0);
			}

			.description {
				padding: 0 @base * 1.5;
			}

			.edit {
				.edit-defaults;
				top: @base;
				left: @base;
			}

			.header {
				text-transform: none;
				font-size: 26px;
				margin: 0 0 0 0;
				padding: @base * 1.5 @base * 1.5;

				a {
					text-transform: none;
					text-decoration: none;
					color: #303030;

					&:hover { 
						color: @color-accent; 
					}
				}
			}

			.help-block {
				.body-text-serif;
				clear: both;
				font-style: italic;
				margin-bottom: 0;
				padding: 0 @base * 1.5;

				.icon {
					font-size: 20px;
					position: relative;
					top: -3px;
				}

				.date {
					margin-right: 20px;
				}
			}

			.label {
				display: block;
				font-size: 14px;
				font-weight: normal;
				text-transform: uppercase;
				padding: @base;
				background: none;
				color: @color-accent;
				text-align: right;
				border-bottom: 1px solid @color-gray-accent;
				.border-radius(0);
				text-shadow: none;
			}
		}
	}
}

.column-right {

	.component-events {
		list-style: none;
		margin: 0 0 @base*2 0;
		padding: 0;

		@month-height: 16px;
		@day-height: 32px;
		@calendar-height: @month-height + @day-height;
		@calendar-width: @calendar-height;
		@calendar-padding: @base * 1.5;

		.entry {
			background: @color-gray-accent;
			position: relative;
			padding: 0 20px;

			a {
				display: block;
				height: 100%;
				padding: @base * 1.5 @base @base * 1.5 0;
				//padding: @calendar-padding 0;
				border-bottom: 1px solid darken(@color-gray-accent, 20%);
				.clearfix;

				&:hover td {
					color: @color-accent;
				}

				.date {
					width: @calendar-width;
					text-align: center;
					font-family: @font-sans;
					position: absolute;
					height: @calendar-height;

					.month {
						background: @color-accent;
						color: #fff;
						font-weight: bold;
						font-size: 12px;
						letter-spacing: 1px;
						text-transform: uppercase;
						line-height: @month-height;
						height: @month-height;
					}

					.day {
						background: #fff;
						font-weight: bold;
						font-size: 26px;
						color: @color-body-text;
						line-height: @day-height;
						height: @day-height;
					}
				}

				.info {
					font-family: @font-serif;
					font-size: 15px;
					line-height: 1.3;
					font-weight: normal;
					float: left;
					height: @calendar-height;
					margin-left: @calendar-padding + @calendar-width;
					color: @color-body-text;

					td {
						vertical-align: middle;
					}
				}
			}

			&.even { 
				//background: @color-gray-accent; 
			}

			&.last a {
				border: none;
			}

			.header {
				text-transform: none;
				font-size: 26px;

				a {
					text-transform: none;
					text-decoration: none;
					color: @color-body-text;

					&:hover { 
						color: #555; 
					}
				}
			}
		}

		.more  {

			.icon {
				margin-right: @base * .5;
				position: relative;
				top: 1px;
			}
		}
	}
}

// images ---------------------------------------------------------

.component-images {

	.entry {
		position: relative;
		width: 100%;

		.edit {
			.edit-defaults;
			top: @base;
			right: @base;
			background: #fff;
			padding: 2px 2px 1px 4px;
		}
	}
}


// locations ---------------------------------------------------------

.component-locations {

	.entry {
		.entry-defaults;

		&:hover {

			.map {

				.screen,
				address {
					display: block;
				}
			}

			.link {
				background: darken(@color-gray-accent, 40%);
			}
		}

		.map {
			position: relative;
			border: 10px solid @color-gray-accent;
			line-height: 0;
			background-position: center;
			height: 280px;

			.screen,
			address {
				position: absolute;
				bottom: 0px;
				left: 0;
			}

			.screen {
				display: none;
				background: @color-white;
				opacity: .75;
				width: 100%;
				height: 90px;
			}

			address {
				display: none;
				position: absolute;
				left: @base * 1.75;
				bottom: @base * 1.5;
				margin: 0;

				h4 {
					margin-top: 0;
					margin-bottom: @base * .5;
				}
			}
		}

		@media (max-width: 480px)  { .map { height: 120px; } }
		@media (max-width: 767px)  { .map { height: 150px; } }
		@media (max-width: 979px)  { .map { height: 180px; } }
		@media (max-width: 1200px) { .map { height: 200px; } }

		.edit {
			.edit-defaults;
			bottom: @base;
			right: @base;
		}
	}
}


// members ---------------------------------------------------------

.column-full-width {

	.component-member {

		.header {
			text-align: center;
			margin-bottom: 50px;
		}

		.entry {
			text-align: center;
			margin-bottom: @base * 3;

			img {
				margin: 0 auto @base auto;
				.border-radius(100%);
			}

			h3 {
				.small-serif-header;
				text-transform: none;
				font-weight: normal;
				margin: 0 0 @base * 2 0;
			}

			h4 {
				.small-grey-text;
				margin: @base 0 @base * .25 0;
			}

			.content * {
				.body-text-sans;
				text-align: left;
			}
		}

		.edit {
			margin-left: @base;
			position: relative;
			top: 7px;
		}
	}
}

.column-right {

	.component-member {
	
		.entry {
			background: @color-gray-accent;
			padding: 0 20px;

			a {
				min-height: 50px;
				background: @color-gray-accent;
				padding: @base * 1.5;
				border-bottom: 1px solid darken(@color-gray-accent, 20%);
				color: @color-body-text;
				height: 72px;

				&:hover { 
					color: @color-accent;
					border-bottom: 1px solid darken(@color-gray-accent, 20%);

					.email {
						color: @color-accent !important;
						-webkit-transition: color 200ms ease-in-out;
					}
				}

				img {
					position: relative;
					left: -15px;
					margin-right: @base;
					.border-radius(100%);
					width: 72px;
					height: 72px;
				}

				.info  {

					h4 {
						padding: @base * 1.25 0 0 0;
						margin-bottom: @base * .125;
						vertical-align: center;
						font-family: @font-serif;
						font-size: 18px;
						line-height: 1.3;
						font-weight: normal;

					}
					.icon {
						color: #999;
					}
					.email {
						.small-grey-text;
						display: inline;
					}
				}
			}

			&.even { 
				background: @color-gray-accent; 
			}

			&.last a {
				border-bottom: none;
			}
		}
	}
}


// spacer ---------------------------------------------------------

.component-spacer {

	.spacer {
		font-size: 18px;
		letter-spacing: 5px;
		text-align: center;
		margin: @base * .5 0 @base * 2.5 0;

		.edit {
			margin-left: @base;
		}
	}
}


//

.component-teachings {

	.search {
		margin: @base auto;
		text-align: center;

		input {
			border: 5px solid #e5e5e3;
			width: 530px;
			line-height: 25px;
			height: 40px;
			padding: 10px 15px 10px 85px;
			font-family: @font-serif;
			font-size: 25px;
			border: solid @base #e5e5e3;
			background: url('../../../php/request.php?a=../themes/active/img/search.gif') no-repeat left center;
		}

		p {
			color: #999;
			margin: @base * .5 0 @base 0;
			font-size: 14px;

			span {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	.latest {
		text-align: center;

		.video {
			width: 650px;
			height: 365px;
			margin: @base * 1.5 auto;

		}
	}
}

// videos 




// verses ---------------------------------------------------------

.component-verses {

	blockquote {
		.small-serif-header;
		font-size: @body-text-height;
		margin: @base * 3 0 @base * 1.5 0;

		cite {
			.small-grey-text;
			
			a:hover { 
				color: @color-accent; 
			}
		}

		p {
			font-size: 20px;
			letter-spacing: 5px;
		}

		.edit {
			margin-left: @base;
		}
	}
}


// media queries ---------------------------------------------------------

@media (min-width: 1200px) {

}


