
@import 'import.less'; // For importing CSS documents
@import '../../../bootstrap/less/bootstrap.less';
@import '../../../bootstrap/less/responsive.less';

// Quick overrides

[class^="icon-"] {
	background-image: url(../../../bootstrap/img/glyphicons-halflings.png);
}

.icon-white {
	background-image: url(../../../bootstrap/img/glyphicons-halflings-white.png);
}


@base: 10px;

// Styles

.modalLive {
	width: 630px !important;
}

// Components

.component-events {

	.entry {
		padding: 20px;

		&.even {
			background-color: #eee;
		}

		.header {
			margin-bottom: 20px;
		}
	}
}

.component-locations {

	.google-map {
		height: 300px;
		margin: @base * 3 0;
	}
}

// Columns

.column-full-width {

}

.column-center {

}

.column-right {

	.component-locations {

		.google-map {
			
		}
	}
}

