@import '../../../bootstrap/lib/mixins.less';

// Bootstrap Cleanup

body {
	background-image: none;
	background: #f3f3f0;
}

.logo {
	background: url(../img/logo.png) 0 0 no-repeat;
	height: 120px;
	width: 120px;
}
.logo img {
	display: none;
}

.masthead {
	background: #8EBDCC;
}

.wide-wrap {
	position: absolute;
	left: 0;
	width: 100%;	
}

.masthead .row {
	margin: 0 auto;
}

