*{text-rendering:optimizeLegibility !important;-webkit-font-smoothing:antialiased !important;}
a{text-decoration:none;-webkit-transition:all 200ms ease-in-out;}
a:hover{text-decoration:none;}
.gigantic{font-size:123px;line-height:132px;letter-spacing:-2px;}
.huge,h1{font-size:76px;line-height:84px;letter-spacing:-1px;}
.large,h2{font-size:47px;line-height:48px;}
.bigger,h3{font-size:29px;line-height:36px;}
.big,h4{font-size:25px;line-height:30px;}
body{background:#e9ebeb;font:normal normal 400 18px/1.4 adelle,"Palatino",Georgia,Times New Roman,Times,serif !important;margin:0 auto;text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);}
.small,small{font-size:13px;line-height:18px;}
h1,h2,h3,h4,h5,h6{font-family:proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;font-style:normal;font-weight:700;color:#222;}
h1,h2,h3{text-transform:uppercase;}
p{font:normal normal 400 16px/1.4 adelle,"Palatino",Georgia,Times New Roman,Times,serif !important;margin:20px 0;}
.header{width:100%;height:330px;margin-bottom:-70px;background-color:#31404e;}
.header .wrapper{padding-top:0;}
.header .lower{padding:100px 0 0 0;}
.header h3{margin:30px 0 0 0;}
.header h1,.header h1 a{position:relative;color:#fff;text-shadow:none;font-size:48px;margin:10px 0 10px 0;text-align:center;text-shadow:0 2px 4px rgba(0, 0, 0, 0.35);left:-80px;}
.topnav{-moz-box-shadow:0 3px 12px rgba(0,0,0,0.45);-o-box-shadow:0 3px 12px rgba(0,0,0,0.45);-webkit-box-shadow:0 3px 12px rgba(0,0,0,0.45);box-shadow:0 3px 12px rgba(0,0,0,0.45);height:59px;border-top:4px solid #d35d45;position:fixed;width:100%;z-index:4;background:rgba(61, 61, 61, 0.95) url('../img/noise-sm.png') repeat;}
.topnav .logo{float:right;padding:20px 0 0 0;font:normal normal 400 16px/1.4 proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;color:#fff;text-transform:uppercase;text-shadow:0 1px 2px rgba(0, 0, 0, 0.5);}
.topnav ul{display:block;float:left;list-style:none;list-style-type:none;list-style-image:none;text-transform:uppercase;margin:20px 0 0 0;}
.topnav ul li{display:inline;}
.topnav ul li a{padding:5px 10px;margin-right:10px;color:#fff;text-shadow:0 1px 0 rgba(0, 0, 0, 0.35);font-size:14px;font-family:proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;font-weight:700 !important;}
.topnav ul li.active a{background:#2d2e2e;}
.logomark{text-indent:-9999px;display:block;height:115px;width:116px;background:url('../img/athey.png') no-repeat;float:left;clear:both;margin-left:50px;}
.sub-menu{padding:25px 20px 5px 20px;margin-right:-20px;font-size:14px;font-family:proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;text-transform:uppercase;text-align:center;margin:0 auto;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.sub-menu li{display:inline;margin:0 5px;}
.sub-menu li a{padding:5px 10px;color:#595957;font-weight:700 !important;}
.sub-menu li a:hover{background:#ededec;}
.sub-menu li.active a{background:#ccc;}
.sub-menu li.active a:hover{background:#bbb;}
.sub-menu h4{font-style:italic;margin:10px 340px 10px 0;}
.content,.footer{width:960px;margin:0 auto;}
.content{background:#fff;-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);-o-box-shadow:0 0 10px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);box-shadow:0 0 10px rgba(0,0,0,0.5);padding-bottom:30px;}
.feature{padding:20px;}
blockquote.scripture{display:block;border:none;padding-top:20px;margin:0;font:normal italic 400 18px/18px adelle,"Palatino",Georgia,Times New Roman,Times,serif !important;text-align:center;}
blockquote.scripture span{display:block;margin:20px 0;font-size:14px;text-align:center;font:normal normal 700 16px/12px proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;text-transform:uppercase;}
blockquote.scripture span a{color:#d35d45;}
blockquote.scripture span a:hover{color:#ba432c;}
.subtitle{border-top:5px dotted #ccc;border-bottom:5px dotted #ccc;margin-bottom:20px;padding:20px 0;font:normal normal 700 48px/50px proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;text-transform:none;}
.event-box{font-family:proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif !important;background:#fff;padding:0;margin:0 0 10px 0;border:1px solid #babbbf;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.side-header{background:#f2f2f0 url('../img/noise-sm.png') repeat,;background:url('../img/noise-sm.png') repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(2%, #f2f2f0), color-stop(100%, #e5e5e4));background:url('../img/noise-sm.png') repeat, -moz-linear-gradient(top, #ffffff 0%, #f2f2f0 2%, #e5e5e4 100%);font-size:12px;text-transform:uppercase;font-weight:700;letter-spacing:1px;padding-left:10px;-webkit-border-top-left-radius:2px;-moz-border-radius-topleft:2px;border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topright:2px;border-top-right-radius:2px;border-bottom:1px solid #ccc;}
.event-box .event{list-style:none;list-style-image:none;list-style-type:none;text-indent:0;padding:10px 0;border-bottom:1px solid #babbbf;border-top:none;padding-bottom:12px !important;}
.event.even{background:#ededec;border-top:1px solid #fefefe;}
.event.last{border-bottom:none;}
.event.grade-school{border-left:4px solid #d35d45;}
.event-box .date{float:left;display:block;width:42px;height:42px;-moz-box-shadow:0 2px 0 rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,1);-o-box-shadow:0 2px 0 rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,1);-webkit-box-shadow:0 2px 0 rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,1);box-shadow:0 2px 0 rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin:0 10px;border:1px solid #ccc;}
.date .month{display:block;width:42px;text-transform:uppercase;padding:0;background:#aaaaaa url(../img/noise-sm.png) repeat;color:#fff;font-size:12px;text-shadow:none;text-align:center;font-weight:700;}
.date .day{background:#efefef;padding:3px 0;display:block;width:42px;text-align:center;font-weight:700;font-size:20px;color:#333;}
.event-box .info{padding-left:50px;}
.info .description{font-family:proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif !important;color:#222;font-weight:700;display:block;}
.info .location{background:url(../img/pin.png) 0 0 no-repeat;display:block;font:normal italic normal 14px/1.4 adelle,"Palatino",Georgia,Times New Roman,Times,serif !important;margin:5px 0 0 15px;padding-left:15px;}
::selection{background:#ffff9e;}
::-moz-selection{background:#ffff9e;}
img::selection{background:transparent;}
img::-moz-selection{background:transparent;}
body{-webkit-tap-highlight-color:#ffff9e;}
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.wrapper{width:960px;margin:0 auto;color:#3c3c3c;-webkit-text-size-adjust:100%;}
.col-1{width:580px;float:left;padding:0 24px 0 24px;}
.col-2{width:310px;float:left;}
@media only screen and (min-width: 768px) and (max-width: 991px){.wrapper{width:712px;padding:48px;}}@media only screen and (max-width: 767px){.wrapper{width:252px;padding:48px;}}@media only screen and (min-width: 480px) and (max-width: 767px){.wrapper{width:436px;padding:48px;}}@media only screen and (-webkit-min-device-pixel-ratio: 2),	only screen and (min-device-pixel-ratio: 2){}.lbsTooltip{background:#e9ebeb;border:1px solid #777;padding:5px !important;z-index:99;text-align:left;text-indent:0;}
.lbsTooltip div{text-align:left;}
.lbsTooltip+div{background:#fff;}
.lbsTooltipHeader{background:#454545;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.95);font-weight:bold;font-size:14px;line-height:18px;font-family:proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;text-transform:uppercase;margin:0;padding:4px;position:relative;border:0;}
.lbsTooltipBody{padding:4px 8px 0 8px;margin:0;position:relative;z-index:2;border:0;line-height:16px;}
.lbsTooltipBody p,.lbsTooltipBody span{display:inline;color:black;font-family:adelle,"Palatino",Georgia,Times New Roman,Times,serif;font-size:14px;line-height:16px;}
.lbsTooltipFooter{font-size:11px;font-family:proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;bottom:4px;margin:5px 0;position:absolute;text-align:right;border:0;}
.lbsTooltipFooter a:link,.lbsTooltipFooter a:visited,.lbsTooltipFooter a:hover{background:#d35d45;color:#fff;font-weight:normal;font-size:12px;font-family:proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;font-weight:700;text-decoration:none;padding:3px 6px;text-shadow:none;}
.lbsTooltipFooter div{text-align:right;}
.lbsTooltipBody .ch-ref,.lbsTooltipBody .verse-ref{font-size:85%;top:-1px;position:relative;}
.lbsTooltipBody .ch-ref{font-weight:bold;}
.lbsTooltipBody .verse-ref{color:dimgray;}
.lbsTooltip,.lbsTooltipBody span,.lbsTooltip a,.lbsTooltipBody p{margin:0;padding:0;}
.lbsLibronix img{float:none !important;}
a[href="http://www.logos.com/reftagger"]{display:none !important;}
